iframe{position:absolute;width:100%;height:100%;border:none;}
/*nav img{left:30px;}
.bars-head{right:50px;
    margin-left:25px;}
.search-bar-cont{width:100%;}
.search-bar-cont input{padding-left:30px;width:77%;}
.search-bar-cont .fa-close{padding-right:30px;}*/
